--Luiseida Corniel, Matricula: 11-EIIT-1-010
USE [master]
GO
/****** Object:  Database [CORNIEL01]    Script Date: 24/7/2018 4:32:02 p. m. ******/
CREATE DATABASE [CORNIEL01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CORNIEL01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CORNIEL01.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CORNIEL01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CORNIEL01_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CORNIEL01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CORNIEL01]
GO
USE [CORNIEL01]
GO
/****** Object:  Table [dbo].[CHEQUES]    Script Date: 24/7/2018 4:32:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHEQUES](
	[NUMEROCHEQUE] [int] NOT NULL,
	[NUMEROFACTURA] [int] NULL,
	[VALORCHEQUE] [money] NULL,
	[FECHACHEQUE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMEROCHEQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 24/7/2018 4:32:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[NUMEROFACTURA] [int] NOT NULL,
	[CODIGO] [varchar](7) NULL,
	[VALORFACTURA] [money] NULL,
	[FECHAFACTURA] [date] NULL,
	[FECHAVENCIMIENTO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMEROFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 24/7/2018 4:32:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[CODIGO] [varchar](7) NOT NULL,
	[NOMBRES] [varchar](30) NOT NULL,
	[APELLIDOS] [varchar](30) NOT NULL,
	[DIRECCION] [varchar](50) NULL,
	[CIUDAD] [varchar](30) NULL,
	[TELEFONO] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHEQUES] ([NUMEROCHEQUE], [NUMEROFACTURA], [VALORCHEQUE], [FECHACHEQUE]) VALUES (1, 1, 280.0000, CAST(N'2015-10-03' AS Date))
INSERT [dbo].[CHEQUES] ([NUMEROCHEQUE], [NUMEROFACTURA], [VALORCHEQUE], [FECHACHEQUE]) VALUES (2, 2, 28900.0000, CAST(N'2015-10-04' AS Date))
INSERT [dbo].[CHEQUES] ([NUMEROCHEQUE], [NUMEROFACTURA], [VALORCHEQUE], [FECHACHEQUE]) VALUES (3, 3, 2860.0000, CAST(N'2015-10-06' AS Date))
INSERT [dbo].[FACTURAS] ([NUMEROFACTURA], [CODIGO], [VALORFACTURA], [FECHAFACTURA], [FECHAVENCIMIENTO]) VALUES (1, N'01', 2000.0000, CAST(N'2015-10-03' AS Date), CAST(N'2015-10-03' AS Date))
INSERT [dbo].[FACTURAS] ([NUMEROFACTURA], [CODIGO], [VALORFACTURA], [FECHAFACTURA], [FECHAVENCIMIENTO]) VALUES (2, N'02', 20500.0000, CAST(N'2015-10-03' AS Date), CAST(N'2015-10-03' AS Date))
INSERT [dbo].[FACTURAS] ([NUMEROFACTURA], [CODIGO], [VALORFACTURA], [FECHAFACTURA], [FECHAVENCIMIENTO]) VALUES (3, N'03', 20800.0000, CAST(N'2015-10-03' AS Date), CAST(N'2015-10-06' AS Date))
INSERT [dbo].[PROVEEDORES] ([CODIGO], [NOMBRES], [APELLIDOS], [DIRECCION], [CIUDAD], [TELEFONO]) VALUES (N'01', N'CARLOS', N'MONTILLA', N'BUENOS AIRES, HERRERA', N'SANTO DOMINGO', N'8098791078')
INSERT [dbo].[PROVEEDORES] ([CODIGO], [NOMBRES], [APELLIDOS], [DIRECCION], [CIUDAD], [TELEFONO]) VALUES (N'02', N'JULIO', N'ABAD', N'LAS PALMAS, HERRERA', N'SANTO DOMINGO', N'8097094878')
INSERT [dbo].[PROVEEDORES] ([CODIGO], [NOMBRES], [APELLIDOS], [DIRECCION], [CIUDAD], [TELEFONO]) VALUES (N'03', N'CESAR', N'ABREU', N'PINTURA, HERRERA', N'SANTO DOMINGO', N'8097088078')
ALTER TABLE [dbo].[CHEQUES]  WITH CHECK ADD  CONSTRAINT [CHQ_FACT] FOREIGN KEY([NUMEROFACTURA])
REFERENCES [dbo].[FACTURAS] ([NUMEROFACTURA])
GO
ALTER TABLE [dbo].[CHEQUES] CHECK CONSTRAINT [CHQ_FACT]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FACT_PROV] FOREIGN KEY([CODIGO])
REFERENCES [dbo].[PROVEEDORES] ([CODIGO])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FACT_PROV]
GO
USE [master]
GO
