--Luiseida Corniel, Matricula: 11-EIIT-1-010
USE [master]
GO
/****** Object:  Database [CORNIEL02]    Script Date: 24/7/2018 4:34:12 p. m. ******/
CREATE DATABASE [CORNIEL02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CORNIEL02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CORNIEL02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CORNIEL02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CORNIEL02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CORNIEL02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CORNIEL02]
GO
USE [CORNIEL02]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 24/7/2018 4:34:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [varchar](10) NOT NULL,
	[NOMBRES] [varchar](30) NOT NULL,
	[APELLIDOS] [varchar](30) NOT NULL,
	[DIRECCION] [varchar](50) NULL,
	[TELEFONO] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 24/7/2018 4:34:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[NUMEROFACTURA] [int] NOT NULL,
	[ID] [varchar](10) NULL,
	[VALORFACTURA] [money] NULL,
	[FECHAFACTURA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMEROFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 24/7/2018 4:34:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[NUMERODEPAGO] [int] NOT NULL,
	[NUMEROFACTURA] [int] NULL,
	[VALORPAGO] [money] NULL,
	[FECHAPAGO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERODEPAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTES] ([ID], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO]) VALUES (N'01', N'CARLOS', N'MONTILLA', N'BUENOS AIRES, HERRERA', N'8097091078')
INSERT [dbo].[CLIENTES] ([ID], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO]) VALUES (N'02', N'JULIO', N'ABAD', N'LAS PALMAS, HERRERA', N'8097094878')
INSERT [dbo].[CLIENTES] ([ID], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO]) VALUES (N'03', N'CESAR', N'ABREU', N'PINTURA, HERRERA', N'8097088078')
INSERT [dbo].[FACTURAS] ([NUMEROFACTURA], [ID], [VALORFACTURA], [FECHAFACTURA]) VALUES (1, N'01', 20030.0000, CAST(N'2015-10-03' AS Date))
INSERT [dbo].[FACTURAS] ([NUMEROFACTURA], [ID], [VALORFACTURA], [FECHAFACTURA]) VALUES (2, N'02', 20500.0000, CAST(N'2015-10-03' AS Date))
INSERT [dbo].[FACTURAS] ([NUMEROFACTURA], [ID], [VALORFACTURA], [FECHAFACTURA]) VALUES (3, N'03', 20800.0000, CAST(N'2015-10-03' AS Date))
INSERT [dbo].[PAGOS] ([NUMERODEPAGO], [NUMEROFACTURA], [VALORPAGO], [FECHAPAGO]) VALUES (1, 1, 2800.0000, CAST(N'2015-10-03' AS Date))
INSERT [dbo].[PAGOS] ([NUMERODEPAGO], [NUMEROFACTURA], [VALORPAGO], [FECHAPAGO]) VALUES (2, 2, 28900.0000, CAST(N'2015-10-04' AS Date))
INSERT [dbo].[PAGOS] ([NUMERODEPAGO], [NUMEROFACTURA], [VALORPAGO], [FECHAPAGO]) VALUES (3, 3, 2860.0000, CAST(N'2015-10-06' AS Date))
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FACT_CLI] FOREIGN KEY([ID])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FACT_CLI]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [PAG_FACT] FOREIGN KEY([NUMEROFACTURA])
REFERENCES [dbo].[FACTURAS] ([NUMEROFACTURA])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [PAG_FACT]
GO
USE [master]
GO
