--Luiseida Corniel, Matricula: 11-EIIT-1-010
USE [master]
GO
/****** Object:  Database [CORNIEL03]    Script Date: 24/7/2018 4:35:52 p. m. ******/
CREATE DATABASE [CORNIEL03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CORNIEL03', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CORNIEL03.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CORNIEL03_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CORNIEL03_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CORNIEL03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CORNIEL03]
GO
USE [CORNIEL03]
GO
/****** Object:  Table [dbo].[ARTICULOS]    Script Date: 24/7/2018 4:35:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULOS](
	[NUMEROARTICULO] [varchar](10) NOT NULL,
	[CODIGO] [varchar](10) NULL,
	[DETALLEARTICULO] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMEROARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 24/7/2018 4:35:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CODIGO] [varchar](10) NOT NULL,
	[NOMBRES] [varchar](30) NOT NULL,
	[APELLIDOS] [varchar](30) NOT NULL,
	[DIRECCION] [varchar](20) NULL,
	[TELEFONO] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 24/7/2018 4:35:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[NUMEROPEDIDO] [int] NOT NULL,
	[NUMEROARTICULO] [varchar](10) NULL,
	[FECHAPEDIDO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMEROPEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ARTICULOS] ([NUMEROARTICULO], [CODIGO], [DETALLEARTICULO]) VALUES (N'01', N'01', N'LICUADORA')
INSERT [dbo].[ARTICULOS] ([NUMEROARTICULO], [CODIGO], [DETALLEARTICULO]) VALUES (N'02', N'02', N'TOSTATORA')
INSERT [dbo].[ARTICULOS] ([NUMEROARTICULO], [CODIGO], [DETALLEARTICULO]) VALUES (N'03', N'03', N'LAVADORA')
INSERT [dbo].[CLIENTES] ([CODIGO], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO]) VALUES (N'01', N'CARLOS', N'MONTILLA', N'HERRERA', N'8097091078')
INSERT [dbo].[CLIENTES] ([CODIGO], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO]) VALUES (N'02', N'JULIO', N'ABAD', N'LAS PALMAS, HERRERA', N'8097094878')
INSERT [dbo].[CLIENTES] ([CODIGO], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO]) VALUES (N'03', N'CESAR', N'ABREU', N'PINTURA, HERRERA', N'8097088078')
INSERT [dbo].[PEDIDOS] ([NUMEROPEDIDO], [NUMEROARTICULO], [FECHAPEDIDO]) VALUES (0, N'10', CAST(N'2013-05-19' AS Date))
INSERT [dbo].[PEDIDOS] ([NUMEROPEDIDO], [NUMEROARTICULO], [FECHAPEDIDO]) VALUES (2, N'02', CAST(N'2013-05-11' AS Date))
INSERT [dbo].[PEDIDOS] ([NUMEROPEDIDO], [NUMEROARTICULO], [FECHAPEDIDO]) VALUES (3, N'03', CAST(N'2013-05-12' AS Date))
ALTER TABLE [dbo].[ARTICULOS]  WITH CHECK ADD  CONSTRAINT [ART_CLI] FOREIGN KEY([CODIGO])
REFERENCES [dbo].[CLIENTES] ([CODIGO])
GO
ALTER TABLE [dbo].[ARTICULOS] CHECK CONSTRAINT [ART_CLI]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [PED_ART] FOREIGN KEY([NUMEROARTICULO])
REFERENCES [dbo].[ARTICULOS] ([NUMEROARTICULO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [PED_ART]
GO
USE [master]
GO
